//Backgrounds
$header--home: url(../img/home_hero-bg.jpg);
$header--faqs: url(../img/faqs_hero-bg.jpg);

$bg--registro: url(../img/bg-registro.jpg);
$bg--login: url(../img/bg-login.jpg);

$bg-home--info: url(../img/home_dogs.jpg);

//Logo
$logo--black: url(../img/logo.svg);
$logo--white: url(../img/logo_white.svg);