//Backgrounds
$header--home: url(../images/home_hero-bg.jpg);
$header--faqs: url(../images/faqs_hero-bg.jpg);

$bg--registro: url(../images/bg-registro.jpg);
$bg--login: url(../images/bg-login.jpg);

$bg-home--info: url(../images/home_dogs.jpg); 

//Logo
$logo--black: url(../images/logo.svg);
$logo--white: url(../images/logo_white.svg); 