
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #181818;
}

h1,h2,h3, p, li {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: .8em 1.5em;
  color: white;
  border-radius: 3px;
}

.btn-green {
  background: #1dd1a1;
}

.flex {
  display: flex;
}

.container {
  width: 80%;
  margin: auto;
}


/* Navigation */
nav {
  top: 0;
  z-index: 5;
  width: 100%;
  margin: auto;
  height: 5em;
  padding: 0 5%;
  position: fixed;
  background: white;
  align-items: center;
  -webkit-box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 12px -6px rgba(0,0,0,0.5);
}

nav .logo {
  height: 4em;
  text-indent: -9999px;
  background: url(../img/logo.svg) no-repeat center;
  background-size: contain;
}

nav ul {
  width: 22em;
  margin-left: auto;
  justify-content: space-between;
}

nav ul li a {
  color: #181818;
  font-size: .8em;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a.active {
  color: #d8d8d8;
}
/* END Navigation */

/* Faqs Header */
.header_faqs {
  width: 100%;
  margin-top: 4em;
  background: url(../img/faqs_hero-bg.jpg) no-repeat center;
  background-size: cover;
}

.header_faqs .header_text {
  padding: 20vh 0;
  text-align: center;
  margin: auto;
  color: white;
}

.header_text h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: .8em;
}

.header_text p {
  font-weight: 300;
  font-size: .9em;
}
/* END Faqs Header */

/* Faqs Questions */
section.questions {
  padding: 6em 10%;
}

section.questions .dropdown {
  width: 100%;
  position: relative;
  padding: 2em 0;
  border-bottom: 1px solid #d8d8d8;
}

section.questions .dropdown input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

section.questions .dropdown label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    line-height: 24px;
    font-weight: 600;
    color: #0998b7;
    padding-right: 10%;
    font-family: "Montserrat", sans-serif;
}

section.questions .dropdown .answer {
    max-height: 0;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #656565;
}

section.questions .dropdown input[type=checkbox]:checked ~ .answer {
    max-height: 100%;
    margin: 1em 0;
}
/* END Faqs Questions */

/* Form */
.form
  margin-top: 5em;
  display: inline-block;
  width: 50%;

.acompaña{
  display: inline-block;
  width: 50%;
  margin-top: 4em;
  background: url(../img/faqs_hero-bg.jpg) no-repeat center;
  background-size: cover;
}

/* END Form */





/* Footer */
footer {
  background: gray;
  padding: 2em 0;
  text-align: center;
}

footer p, footer a {
  color: white;
}

footer .social {
  width: 8em;
  display: flex;
  margin: auto;
  color: white;
  margin-bottom: 2em;
  justify-content: space-between;
}

footer .social a {
  font-size: 1.4em;
}

footer p {
  font-size: .8em;
  font-weight: 300;
}
/* END Footer */
