@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.color-primary {
  color: #1dd1a1;
}

.-color-secondary {
  color: #32a5ff;
}

.-color-black {
  color: #1d1d1f;
}

.-color-white {
  color: white;
}

.-bg-black {
  background-color: #1d1d1f;
}

.-bg-primary {
  background-color: #1dd1a1;
}

.btn {
  border: none;
  padding: .8em 1.5em;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.btn--green {
  color: white !important;
  background: #1dd1a1;
}

.btn--blue {
  color: white !important;
  background: #32a5ff;
}

.btn--white {
  background: white;
  color: #1dd1a1;
}

.btn--border {
  border: 1px solid;
}

.btn--border.white {
  border-color: white;
  color: white;
}

.btn--border.white:hover {
  color: #1d1d1f !important;
  background: white;
}

.btn--submit {
  font-weight: 500;
  font-size: 0.8em;
}

.row {
  margin: 0;
  width: 100%;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 640px) {
  .flex--column__mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.flex--justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex--justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex--space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex--align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.half {
  width: 50%;
}

@media (max-width: 640px) {
  .col.half {
    width: 100% !important;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (min-width: 2500px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 1921px) and (max-width: 2499px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1700px) and (max-width: 1920px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  color: #1d1d1f;
  position: relative;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
}

main {
  overflow: hidden;
}

p {
  line-height: 1.4em;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

:focus {
  outline: 0;
}

strong {
  font-weight: bold;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}

.-upper {
  text-transform: uppercase;
}

.-margin-top {
  margin-top: 5em;
}

.-auto {
  margin: auto;
}

.t-center {
  text-align: center;
}

.header--home {
  height: 100vh;
  position: relative;
  background: url(../img/home_hero-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

.header__title {
  font-weight: 600;
  font-size: 4.5em;
  line-height: 1.4em;
}

.header__title--smaller {
  font-size: 3em;
}

.header__desc {
  margin-top: 7px;
}

.header--faqs {
  height: 20em;
  background: url(../img/faqs_hero-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Navigation */
.nav {
  top: 0;
  z-index: 5;
  width: 100%;
  height: 5em;
  padding: 0 5%;
}

.nav__logo {
  height: 4em;
  text-indent: -9999px;
}

.nav--main {
  position: fixed;
  background: white;
  -webkit-box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.5);
}

.nav--main .nav__logo {
  background: url(../img/logo.svg) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
}

.nav--home {
  position: absolute;
  background: transparent;
}

.nav--home .nav__logo {
  background: url(../img/logo_white.svg) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
}

.nav--home .nav__link {
  color: white !important;
}

.nav__menu {
  margin-left: auto;
}

.nav__link {
  color: #1d1d1f;
  margin-left: 2.5em;
  font-size: 0.8em;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .nav__link {
    margin-left: 1.5em;
  }
}

.nav__link.-color-white {
  color: white;
}

.nav__link.active {
  color: #d8d8d8;
}

.nav__link:hover {
  color: #1dd1a1;
}

.section {
  padding-top: 6em;
  padding-bottom: 6em;
  overflow: hidden;
}

@media (max-width: 640px) {
  .section {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.section__title {
  font-weight: 600;
  font-size: 1.4em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: .5em;
}

.section__text {
  font-size: 1.4em;
}

.section--desc {
  padding-top: 8em;
  padding-bottom: 8em;
}

.section--desc .section__text {
  max-width: 40em;
  margin-bottom: 2em;
}

.section--info {
  padding-top: 10em;
  padding-bottom: 10em;
  background: url(../img/home_dogs.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

.section--info .section__text {
  max-width: 40em;
}

.section--cta {
  padding-top: 2em;
  padding-bottom: 2em;
}

.section--faqs .dropdown {
  width: 100%;
  max-width: 40em;
  margin: auto;
  padding: 2em 0;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section--faqs .dropdown input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  opacity: 0;
  cursor: pointer;
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

.section--faqs .dropdown__question {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 1.4em;
  line-height: 24px;
  font-weight: 600;
  padding-right: 10%;
  padding-left: 2em;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1023px) {
  .section--faqs .dropdown__question {
    font-size: 1.2em;
  }
}

.section--faqs .dropdown__question::before {
  content: "+";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section--faqs .dropdown__answer {
  max-height: 0;
  overflow: hidden;
  font-size: 0.8em;
  line-height: 24px;
  color: #656565;
}

.section--faqs .dropdown input[type=checkbox]:checked ~ .answer {
  max-height: 100%;
  margin: 1em 0;
}

.section--faqs .dropdown input[type=checkbox]:checked ~ .dropdown__question::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section--form {
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 1024px) {
  .section--form {
    min-height: 82vh;
  }
}

@media (max-width: 1023px) {
  .section--form.col.half {
    width: 60%;
  }
}

.section--registro__bg {
  background: url(../img/bg-registro.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

.section--login__bg {
  background: url(../img/bg-login.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

@media (max-width: 1023px) {
  .section--bg.col.half {
    width: 40%;
  }
}

@media (max-width: 640px) {
  .section--bg {
    height: 15em;
  }
}

/* Form */
.form {
  width: 100%;
  margin-top: 2em;
}

.form__field {
  margin: .5em 0 1.5em;
}

.form__input {
  padding: 1em;
  border: 1px solid #d8d8d8;
}

.form__input.error {
  border-color: #ff4d00;
}

.form__label {
  font-weight: bold;
  font-size: 0.8em;
}

.form--error {
  color: #ff4d00;
  font-size: 0.8em;
}

/* Footer */
.footer {
  padding: 1.5em;
  color: white;
}

.footer .social {
  width: 5em;
  color: white;
}

.footer .social__link {
  font-size: 1em;
}

.footer .social__link:hover {
  color: #1dd1a1;
}

.footer__copy {
  font-size: 0.75em;
  font-weight: 300;
}

/* END Footer */
.dashboard--nav {
  position: fixed;
  z-index: 999;
}

.dashboard--nav__menu {
  position: absolute;
  display: block;
  left: -200px;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 250px;
  -webkit-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #000;
  z-index: 999;
}

.dashboard--nav__menu .menu-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dashboard--nav__menu li {
  position: relative;
}

.dashboard--nav__menu .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

.dashboard--nav__menu a {
  display: block;
  white-space: nowrap;
  padding: 1em;
  font-size: 14px;
}

.dashboard--nav__menu label {
  margin-bottom: 0;
  display: block;
}

.dashboard--nav__menu label:hover {
  cursor: pointer;
}

.dashboard--nav .hamburger {
  background: #fff;
  position: relative;
  display: block;
  text-align: center;
  padding: 13px 0;
  width: 50px;
  height: 73px;
  left: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}

.dashboard--nav .hamburger:before {
  content: "\2630";
  /* hamburger icon */
  display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.dashboard--nav .hamburger:hover:before {
  color: #777;
}

.dashboard--nav .openNav .hamburger:before {
  content: "\2715";
  /* close icon */
  display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.dashboard--header {
  padding-top: 6em;
  padding-bottom: 6em;
}

.dashboard--header__title {
  font-size: 3em;
  margin-bottom: 1em;
}

.dashboard .new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.dashboard .openNav .new-wrapper {
  position: absolute;
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  width: calc(100% - 250px);
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
